<div class="block block--page-content block--page-content--project">
	<section class="block block--project-header <%= current_page.data.project_name =%>" style="background-color: <%= current_page.data.background_color =%>;">
		<div class="row">
			<div class="intro intro--project col-sm-12 col-xl-7">
				<h1 class="project-header__h1"> <%= t('projects.' + current_page.data.project_name + '.h1_wording') %> </h1>
				<h3 class="project-header__h3"> <%= t('projects.' + current_page.data.project_name + '.h3_wording') %> </h3>
            </div>
        </div>
    </section>
</div>

<a class="previous-project" href="<%= current_page.data.previous_href =%>">
    <p>Prev</p>
</a>
<a class="next-project" href="<%= current_page.data.next_href =%>">
    <p>Next</p>
</a>