<div class="block block--page-content">
	<section class="block block--project-header <%= current_page.data.background_image_class =%>" style="background-color: <%= current_page.data.background_color =%>;">
		<div class="row">
			<div class="intro intro--project col-sm-12 col-xl-7">
				<h1 class="project-header__h1"> <%= current_page.data.h1_wording =%> </h1>
				<h3 class="project-header__h3"> <%= current_page.data.h3_wording =%> </h3>
            </div>
        </div>
    </section>
</div>

<a class="previous-project" href="<%= current_page.data.previous_href =%>">
    <p>Prev</p>
</a>
<a class="next-project" href="<%= current_page.data.next_href =%>">
    <p>Next</p>
</a>